.container {
    position: relative;
}

.container::after {
    content: "Activité quotidienne";
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #20253a;
    font-weight: bold;
    font-size: 0.9em;
}

.chart {
    background-color: #fbfbfb;
    border-radius: 5px;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.tooltip {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    color: white;
    align-items: center;
    gap: 2em;
    font-size: 0.8em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
