@import url("../../index.css");

.container {
    padding: 2rem;
    width: 100%;
    overflow: hidden;
}

.header-title {
    font-size: 2em;
}

.user-name {
    color: var(--color-primary);
}

.header-description {
    font-size: 1.1em;
    margin-top: 0.6rem;
}

.dashboard-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: 2rem;
    margin-top: 2rem;
}

.dashboard-charts-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    overflow: hidden;
}

.dashboard-sub-charts-container {
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.dashboard-key-data-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
